// common.styl
.common-video-layout
  background-color black
  border-radius 8px
  overflow hidden
  width 100%
  max-width 450px
  max-height 450px
  display flex
  align-items center
  justify-content center
  box-shadow 0 2px 6px rgba(0, 0, 0, 0.2)
