crewai==0.30.11
crewai_tools==0.1.6
langchain_community==0.0.29
google.generativeai
langchain-google-genai
langchain
pyaudio
openai
python-dotenv
python-socketio
gtts
pygame
whisper
google.cloud
flask
setuptools
pyaudio
opencv-python
flask_socketio

